# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment folders
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (optional)
*.csv
*.json

# System files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# Sensitive files (if applicable)
*.env
